*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #8c6d20;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: #6f5401;
    padding: 30px 0px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul{
     display: flex;
     list-style: none;
}
header li,h1{
    margin: 0px 10px;
}

a{
    text-decoration: none;
    color: white;

}

main{
    flex-grow: 1;
}

.contenedorBanner{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#contenedorimg{
    height: 500px;
    width: 100%;
}

#contenedorimg img{
    width: 100%;
    height: 500px;
    object-fit: cover;
    filter: grayscale(80%);
}


#textoBienvenida{
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
}

#textoBienvenida h2{
    font-size: 50px;
}

#textoBienvenida p{

    font-size: 20px;
    margin-top: 10px;

}

#reservaTurno{
    height: 180px;
    background-color: black;
    padding: 1px 0px;
}

#boxturno{
    height: 160px;
    margin: 10px;
    display: flex;
}

#boxTurnoTexto{
    width: 70%;
    color:  #8c6d20;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 120px;
}

#boxTurnoTexto h2{
    margin-bottom: 10px;
    font-size: 30px;
}

#marginIconoReserva{
    margin-right: 10px;
}

#detalleColorReserva{
    color: white;
}

#boxTurnoBoton{

    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;


}

#boxTurnoBoton button{

    width: 50%;
    padding: 10px 0px;
    background-color: #8c6d20;
    font-size: 19px;
    border-radius: 10px;

}

.serviciosBarberia{
    height: 400px;
    margin: 50px 100px;
    display: flex;
}

#servicioDescripcion1{

    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

#servicioDescripcion1 h2{

    font-size: 30px;

}
#servicioDescripcion1 p{

    font-size: 20px;

}

#servicioDescripcion1 button{
    padding: 10px 0px;
    margin: 20px 0px;
    border-radius: 5px;
    background-color: white;
    width: 25%;
    border: none;

}

#botonServicio{

    color: black;
    font-size: 19px;

}

#subrayado{
    margin: 30px 0px;
    background-color: white;
    width: 15%;
}

#servicioDescripcion2{

    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

#servicioCorte{
    width: 100%; 
    height: 25%;   
    display: flex; 
}

#boxIconoCorte{
    width: 20%;
    height: 100%; 
    display: flex;
    justify-content: center; 
}

#boxIconoCorte img{
    border-radius: 50%;
}

#boxDescripcionCorte{

    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

#servicioBarba{
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center; 
}


#boxIconoBarba{
    width: 20%;
    height: 100%; 
    display: flex;
    justify-content: center; 
}

#boxIconoBarba img{
    border-radius: 50%;
}

#boxDescripcionBarba{

    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


#servicioCompleto{
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center; 
}


#boxIconoCompleto{
    width: 20%;
    height: 100%; 
    display: flex;
    justify-content: center; 
}

#boxIconoCompleto img{
    border-radius: 50%;
}

#boxDescripcionCompleto{

    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nosotrosBarberia{

    margin: 10px 0px;
    border: 1px black solid;
    height: 500px;
    background-color: black;
    display: flex;
    justify-content: center;

}

#contenedorImgNosotros{

    width: 35%;
    margin: 30px 0px;
    margin-right: 15px;
}

#contenedorImgNosotros img{

    width: 100%;
    height: 100%;
}

#contenedorInfNosotros{

    width: 35%;
    margin: 30px 0px;
    margin-left: 15px;
    color: white;

}

#contenedorInfNosotros h2{

    color: #8c6d20;

}

#contenedorInfNosotros button{
    background-color: #8c6d20;
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
}

#botonNosotros {
    
    width: 40%;
    font-size: 18px;
}

.preciosProductos{

    height: 500px;
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

#tituloPrecio{
    height: 10%;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}
#contenidoPrecios{
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#precioBarba{

    border: 1px black solid;
    border-radius: 8px;
    width: 23%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#imagenPrecioBarba{

    height: 70%;
}

#imagenPrecioBarba img{

    width: 100%;
    height: 100%;
    object-fit:cover ;

}

#descripcionPrecioBarba{

    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;

}

#precioPelo{

    border: 1px black solid;
    border-radius: 8px;
    width: 23%;    
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

#imagenPrecioPelo{

    height: 70%;

}

#imagenPrecioPelo img{

    width: 100%;
    height: 100%;
    object-fit:cover ;

}

#descripcionPrecioPelo{

    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;

}


#precioCompleto{

    border: 1px black solid;
    border-radius: 8px;
    width: 23%;     
    display: flex;
    flex-direction: column;
    justify-content: space-between;   
}

#imagenPrecioCompleto{

    height: 70%;

}

#imagenPrecioCompleto img{

    width: 100%;
    height: 100%;
    object-fit:cover ;

}

#descripcionPrecioCompleto{

    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;

}


footer{
    background-color: #6f5401;
    padding: 30px 0px;
}

@media screen and (max-width: 576px) {
    header{
        flex-direction: column;
    }

    header nav{

        margin-top: 15px;
        font-size: 13px;
    }

    .contenedorBanner{

        height: auto;
    }
    

    #textoBienvenida h2{
        font-size: 40px;
    }

    #textoBienvenida p{

        font-size: 15px;
        margin: 5px;
        text-align: center;

    }

    #contenedorimg{
        height: 400px;
        width: 100%;
    }
    
    #contenedorimg img{
        width: 100%;
        height: 400px;
    }

    
    #textoBienvenida{

        height: 400px;

    }

    #reservaTurno{
        height: auto;
    }
    
    #boxturno{

        flex-direction: column;
        justify-content: space-evenly;

    }

    #boxTurnoTexto{
        margin: 0;
        width: 100%;
    }
    #boxTurnoTexto h2{
        margin:0;
        font-size: 20px;
    }
    #boxTurnoTexto p{
        font-size: 13px;
    }
    #boxTurnoBoton{
        width: 100%;
    }
    #boxTurnoBoton button{
        font-size: 15px;
    }

    #servicioDescripcion1{
        align-items: center;
    }
    #servicioDescripcion1 h2{

        font-size: 25px;
    
    }
    #servicioDescripcion1 p{
        font-size: 15px;
    }
    #servicioDescripcion1 button{
        padding: 5px 0px;
        margin: 20px 0px;
        border-radius: 5px;
        background-color: white;
        width: 50%;
    }
    
    #subrayado{
        width: 100%;
    }

    .serviciosBarberia{
        height: auto;
        flex-direction: column;
        margin: 50px 30px;
    }
    #servicioDescripcion1{

        width: 100%;
    
    }
    #servicioDescripcion2{

        width: 100%;

    }
    #servicioCorte{
        flex-direction:column;
    }
    #boxIconoCorte{
        width: 100%;
    }
    
    #boxDescripcionCorte{
    
        width: 100%;
        align-items: center;        
     
    }

    #servicioBarba{
        flex-direction:column;
    }

    #boxIconoBarba{
        width: 100%;
    }
    #boxDescripcionBarba{

        width: 100%;
        align-items: center;        

    }

     #servicioCompleto{
        margin-top: 10px;
        flex-direction:column;
    }

    #boxIconoCompleto{
        width: 100%;
    }
    #boxDescripcionCompleto{
        
        width: 100%;
        align-items: center;        

    }

    .nosotrosBarberia{
        flex-direction: column;
        height: auto;
        align-items: center;
        margin: 0;
    }

    #contenedorImgNosotros{

        width: 60%;
        margin: 10px 0px;
        margin-right: 15px;
    }

    #contenedorInfNosotros{

        width: 100%;
        margin: 0;
        justify-content: center;
    }
    
    #contenedorInfNosotros button{
        padding: 10px 20px;
        margin: 20px 0px;
    }
    
    #botonNosotros {
        
        width: 100%;
        font-size: 18px;
    }

    .preciosProductos{
        height: auto;
        margin: 20px;
    }

    #contenidoPrecios{
        flex-direction: column;
    }

    #precioBarba, #precioPelo, #precioCompleto{
        width: 100% ;
    }

}

@media screen and (min-width: 768px) and (max-width: 991px){

    #boxTurnoTexto{
        margin: 0;
    }

    #servicioDescripcion1{
        align-items: center;
    }
    #servicioDescripcion1 h2{

        font-size: 25px;
    
    }
    #servicioDescripcion1 p{
        font-size: 15px;
    }
    #servicioDescripcion1 button{
        padding: 5px 0px;
        margin: 20px 0px;
        border-radius: 5px;
        background-color: white;
        width: 50%;
    }
    
    #subrayado{
        width: 100%;
    }

    #boxIconoCorte{
        width: 30%;
    }
    
    #boxDescripcionCorte{
        
        width: 70%;
        font-size: 13px;
     
    }

    #boxIconoBarba{
        width: 30%;
    }
    
    #boxDescripcionBarba{
        
        width: 70%;
        font-size: 13px;
     
    }

    #boxIconoCompleto{
        width: 30%;
    }
    
    #boxDescripcionCompleto{
        
        width: 70%;
        font-size: 13px;
     
    }

    .nosotrosBarberia{
        height: auto;
    }

    #contenedorInfNosotros p{

        font-size: 15px;

    }

    #contenedorInfNosotros button{
        padding: 10px 20px;
        margin: 10px 0px;
    }
    
    #botonNosotros {
        
        width: 100%;
        font-size: 15px;
    }



}